<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58620867587-ic333rg5rke7l0cpdn24c1ql513b7avg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58620867587-ic333rg5rke7l0cpdn24c1ql513b7avg</string>
	<key>API_KEY</key>
	<string>AIzaSyB0AHe41uzBuilqPzKq9hL96a5enTxiVYw</string>
	<key>GCM_SENDER_ID</key>
	<string>58620867587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.yawar.social-network</string>
	<key>PROJECT_ID</key>
	<string>social-network-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58620867587:ios:f5162facad4a1bb5728a36</string>
</dict>
</plist>